{% extends "indexAuth.html" %}
{% load static %}
{% block title %}Войти{% endblock %}
{% load user_filters %}
{% block style %}"{% static 'pages/form.css' %}"{% endblock %}
{% block content %}
    <div class="form-container">
        <form class="form" method="post"> 
            <div class="form__group">
                <label for="id_username" class="form__label">Имя</label>
                <div class="form__field-group">
                    <input type="text" name="username" id="id_username" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_password" class="form__label">Пароль</label>
                <div class="form__field-group">
                    <input type="password" name="password" id="id_password" class="form__input">
                    <span class="form__error">{{ form.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                {% csrf_token %}
                <button class="button button_style_blue" name="login" value="Log In">Войти</button>
                <a class="form__forgot-link">Забыли пароль?</a>
            </div>
        </form>
    </div>
{% endblock %}
