{% extends "indexAuth.html" %}
{% load static %}
{% block title %}Рецепты{% endblock %}
	{% block maintitle %}{{ author.username }}{% endblock %}
	{% block style %}"{% static 'pages/index.css' %}"{% endblock %}
	{% block content %}
        <div class="author-subscribe" data-author={{ author.id }}>
            {% csrf_token %}
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" 
                {% if follow.author != author %}data-out>Подписаться на автора{% else %}>Отписаться от автора{% endif %}</button></p>
        </div>
        {% include "card.html" with cart_ids=cart_ids recipes=recipes %} 
        {% endblock %}
		{% block script %}
    <script>
        function onClickHandler(){
            var tag_br=document.getElementById("breakfast").checked;
            var tag_ln=document.getElementById("lunch").checked;
            var tag_dn=document.getElementById("dinner").checked;
            window.history.pushState({}, document.title, "");
            var url = window.location.href;    
            if (url.indexOf('?') > -1){
                url = window.location.origin + window.location.pathname; 
                url += '?param=1'
            }
            else{
                url += '?param=1'
            }
            if (tag_br){
                url += '&breakfast=1'
            }
            else{
                url += '&breakfast=0'   
            }
            if (tag_ln){
                url += '&lunch=1'
            }
            else{
                url += '&lunch=0'   
            }
            if (tag_dn){
                url += '&dinner=1'
            }
            else{
                url += '&dinner=0'   
            }
            window.location.href = url;
            
            }
        </script>
  <script src="{% static '/js/components/MainCards.js' %}"></script>

  <script src="{% static '/js/components/Purchases.js' %}"></script>
  <script src="{% static '/js/components/Favorites.js' %}"></script>
  <script src="{% static '/js/components/Subscribe.js' %}"></script>

  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>

  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'authorRecipe.js' %}"></script>
  {% endblock %}