{% extends "indexAuth.html" %}
{% load static %}
{% load thumbnail %}
    {% block title %}Избранное{% endblock %}
    {% block style %}"{% static 'pages/index.css' %}"{% endblock %}

	{% include 'header.html' %}
	{% block maintitle %}Избранное{% endblock %}
	{% block content %}
            {% include 'card.html' with recipes=recipes %}
	{% endblock %}
        {% if recipes.has_other_pages %}
        {% include "nav.html" with page=recipes paginator=paginator%}
	{% endif %}
    {% include 'footer.html' %}
<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'favorite.js' %}"></script>
</body>
</html>
