{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<!-- Content title -->{% endblock title %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>
<body class="body">
    {% include 'header.html' %}
    <main class="main container">
        {% block content %}
            <!-- Content group -->
        {% endblock content %}
        {% if recipes.has_other_pages %}
        {% include "nav.html" with page=recipes paginator=paginator%}
	{% endif %}
	</main>
	{% include 'footer.html' %}
    <script>
        function onClickHandler(){
            var tag_br=document.getElementById("breakfast").checked;
            var tag_ln=document.getElementById("lunch").checked;
            var tag_dn=document.getElementById("dinner").checked;
            window.history.pushState({}, document.title, "");
            var url = window.location.href;    
            if (url.indexOf('?') > -1){
                url = window.location.origin; 
                url += '?param=1'
            }
            else{
                url += '?param=1'
            }
            if (tag_br){
                url += '&breakfast=1'
            }
            else{
                url += '&breakfast=0'   
            }
            if (tag_ln){
                url += '&lunch=1'
            }
            else{
                url += '&lunch=0'   
            }
            if (tag_dn){
                url += '&dinner=1'
            }
            else{
                url += '&dinner=0'   
            }
            window.location.href = url;
            
            }
        </script>
    
  <script src="{% static 'js/components/MainCards.js' %}"></script>

  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>

  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'indexAuth.js' %}"></script>
</body>
</html>
