{% load static %}
{% for item in cart %}
<li class="shopping-list__item" data-id={{ item.id }}>
    <div class="recipe recipe_reverse">
        <img src="./images/testCardImg.png" alt="какой-то текст" class="recipe__image recipe__image_big">
        <h3 class="recipe__title">{{ item.title }}</h3>
        <p class="recipe__text"><span class="icon-time"></span> {{ item.cooking_duration }} мин. </p>
    </div>
    <a href={{ item.id }} class="shopping-list__button link">Удалить</a>
</li>
{% endfor %}