{% load static %}
{% load thumbnail %}
{% for item in cart %}
<li class="shopping-list__item" data-id={{ item.id }}>
    <div class="recipe recipe_reverse">
        {% thumbnail item.image "50x50" crop="center" upscale=True as im %}
            <img src="{{ im.url }}" class="recipe__image">
        {% endthumbnail %}
        <h3 class="recipe__title">"{{ item.title }}"</h3>
        <p class="recipe__text"><span class="icon-time"></span> {{ item.cooking_duration }} мин. </p>
    </div>
    {% csrf_token %}
    <a href="#" class="shopping-list__button link">Удалить</a>
</li>
{% endfor %}