{% extends "indexAuth.html" %}
{% load static %}
{% block title %}Список покупок{% endblock %}
	{% block maintitle %}Список покупок{% endblock %}
	{% block style %}"{% static 'pages/shopList.css' %}"{% endblock %}
	{% block content %}
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% include 'shopList_item.html' %}
		</ul>
		<form action="{% url 'cart:cart_export' %}" method="post">
			{% csrf_token %}
            <button class="button button_style_blue">Скачать список</button>
		</form>
    </div>
	{% endblock %}
	{% block script %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}
