<html>
<head>
    <title>Department Attendance</title>
    <script language="javascript" type="text/javascript">
            function dynamicdropdown(listindex) {
                var tbl = document.getElementById('tbl');
                while (tbl.rows.length > 2) {
                    tbl.deleteRow(2);
                }
                switch (listindex) {
                    case "1" :
                        var r = 2;
                    {% for s in student %}
                        {% if s.division.did == 1 %}
                            var x = tbl.insertRow(r);
                            var y0 = x.insertCell(0);
                            var y1 = x.insertCell(1);
                            var y2 = x.insertCell(2);
                            var y3 = x.insertCell(3);
                            tbl.rows[r].cells[1].innerHTML = {{s.roll}};
                            tbl.rows[r].cells[2].innerHTML = "{{s.sname}}";
                            tbl.rows[r].cells[3].innerHTML = "{{s.addr}}";
                            var checkbox = document.createElement('input');
                            checkbox.type = "checkbox";
                            checkbox.name = "checkbox";
                            checkbox.value = {{ s.roll }};
                            checkbox.id = "checkbox";
                            y0.appendChild(checkbox);
                            r++;
                        {% endif %}
                    {% endfor %}
                        break;
                    case "2":
                        var r = 2;
                    {% for s in student %}
                        {% if s.division.did == 2 %}
                            var x = tbl.insertRow(r);
                            var y0 = x.insertCell(0);
                            var y1 = x.insertCell(1);
                            var y2 = x.insertCell(2);
                            var y3 = x.insertCell(3);
                            tbl.rows[r].cells[1].innerHTML = {{s.roll}};
                            tbl.rows[r].cells[2].innerHTML = "{{s.sname}}";
                            tbl.rows[r].cells[3].innerHTML = "{{s.addr}}";
                            var checkbox = document.createElement('input');
                            checkbox.type = "checkbox";
                            checkbox.name = "checkbox";
                            checkbox.value = {{ s.roll }};
                            checkbox.id = "checkbox";
                            y0.appendChild(checkbox);
                            r++;
                        {% endif %}
                    {% endfor %}
                        break;
                    default:
                        break;
                }
            }
    </script>
</head>
<body>
<form action="{% url 'index' %}" method="POST">{% csrf_token %}
    <select name="dropdown" id="dropdown" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
      <option value="">Please select Division</option>
      <option value="1">Div-A</option>
      <option value="2">Div-B</option>
    </select>
    <table name="tbl" id="tbl" border="double" width="865">
        <th colspan="6">Select Student</th>
        <tr>
            <th>Select</th>
            <th>Roll No</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
         </table>
    <input type="submit" value="Submit" name="submit"  />
</form>
</body>
</html>